---
import Layout from '../components/Layout.astro';

const shows: Array<[date: string, venue: string, link: string | undefined]> = [
	['December 17, 2023', "Wyrm's Lookout", 'https://youtu.be/CGW2GxTJmKI'],
	['December 18, 2023', 'The Astral Prism', 'https://youtu.be/VK3ACQvj9yY'],
	['December 19, 2023', 'The Astral Prism Again', 'https://youtu.be/uB7pdIBIjfk'],
	['December 20, 2023', "Arfur's Basement", 'https://youtu.be/8W_BY1toEPs'],
	['December 21, 2023', 'Circus of the Last Days', 'https://youtu.be/dbnV6ba4Trg'],
	[
		'December 22, 2023',
		'Circus of the Last Days, Featuring "Dribbles" the "Clown"',
		'https://youtu.be/XfuFazPE5-c',
	],
	['December 23, 2023', 'Open Hand Temple', 'https://youtu.be/EMLRkaeLVdM'],
	['December 24, 2023', 'Camp', 'https://youtu.be/D818nX8YmOo'],
	['December 25, 2023', 'Underneath the Open Hand Temple', 'https://youtu.be/rNqeXLJbZQQ'],
	['December 29, 2023', "Fraygo's Flophouse", 'https://youtu.be/FSTm5io802M'],
	['December 30, 2023', "Sharess' Caress", 'https://youtu.be/ZyU1kDDwfaI'],
	['December 31, 2023', "The Devil's Den", 'https://youtu.be/0RryJtmJs1E'],
	['January 1, 2023', "The Shoppes of Wyrm's Crossing", 'https://youtu.be/isOlVeOpkLc'],
	['January 2, 2023', 'Rivington Refugee Camp', 'https://youtu.be/1XFQaswp4Vo'],
];
---

<Layout>
	<header class="relative mx-auto my-10 flex max-w-lg flex-wrap items-center gap-8">
		<a title="Home" href="/">
			<hgroup class="grid w-fit flex-col justify-center text-right drop-shadow-xl">
				<h1 class="text-center font-[Satisfy] text-4xl">Marky-Mark</h1>
				<span class="font-['Indie_Flower']">and the Tadpoles</span>
			</hgroup>
		</a>

		<nav class="flex flex-wrap gap-8 font-[changa]">
			<a href="/" title="Home" class="underline">Home</a>
			<a href="/tour" title="Tour Dates" class="underline">Live Dates</a>
		</nav>
	</header>
	<main class="mx-auto max-w-xl font-['Changa']">
		<div class="mx-auto flex w-fit max-w-sm flex-col gap-1 bg-sky-100/80 p-4 text-gray-950">
			<p>
				Announcing the <strong>Baldur's Gate Winter Tour!</strong>
			</p>
			<p>We're heading to venues ALL OVER the city playing shows NEAR YOU!</p>
			<p>Keep an eye out as we announce more locations!</p>
		</div>
		<section class="my-8 grid justify-center">
			<h2 class="text-2xl">Shows</h2>
			<ul class="my-4 grid gap-4 p-4">
				{
					shows.map(([date, venue, link]) => (
						<li>
							<time class="text-gray-400">{date}</time>
							<div class="flex gap-3">
								<span class="font-mono font-bold block max-w-xs">{venue}</span>
								{link ? (
									<a
										href={link}
										class="bg-gray-100 px-2 text-gray-900 hover:bg-gray-300 h-min self-center">
										Buy Tickets
									</a>
								) : (
									<span class="cursor-not-allowed bg-gray-100 px-2 text-gray-900 hover:bg-gray-300">
										Sold out
									</span>
								)}
							</div>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>
